
@{
    ViewBag.Title = "Adddirector";
}

<br />
<br />
<br />
<form action="/admin/Adddirector" method="post" enctype="multipart/form-data">
    <label>Name</label> <input type="text" name="name" />
    <br />
    <label>photo</label> <input type="file" name="photo" />
    <br />
    <input type="submit" value="send"/>
</form>

