@{
    ViewBag.Title = "AdminActions";
}

<h2> <a href="/Admin/AddActor"> Add Actor </a> </h2>
<h2> <a href="/Admin/Addmovie"> Add Movie </a> </h2>
<h2> <a href="/Admin/Adddirector"> Add Director </a> </h2>